@import 'add-book.css';
@import 'books-grid.css';
@import 'book-modal.css';
html {
    font-family: "Segoe UI";
}

body {
    margin: 0 10px;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header {
    color: #764ABC;
    display: flex;
}

header h1 {
    margin-right: 55px;
}

footer {
    background-color: gainsboro;
    padding-left: 15px;
}

.hidden {
    display: none;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: rgb(185, 185, 185);
}

button.clicked {
    background-color: rgb(185, 185, 185);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 100;
        transform: translateY(0);
    }
}